<!DOCTYPE html>
<html>
    <header>
        <title>Search</title>
    </header>
    <body>
        <div class="principal">
            <div class="labels">
                <h1>Buscador:</h1>
                <h3>Por favor ingresa tu busqueda</h3>
            </div>
            <div class="formulario">
                <form method="post" id="search">
                    <div class="busqueda">
                        <input type="text" name="query" id="query">
                        <input type="submit" value="Buscar">
                    </div>
                    <br>
                    <div class="cant_documentos">
                        <h3>Cantidad de documentos: </h3>
                        <input type="number" name="cant_documentos" id="cant_documentos" min="0" max="100" value="10">
                    </div>
                    <br>
                    <h3>Motores de busqueda: </h3>
                    <div class="motores">
                        <label for="Google"><input type="checkbox" name="google_chkbx" id="google_chkbx" value="1" checked>Google</label>
                        <label for="Yahoo"><input type="checkbox" name="yahoo_chkbx" id="yahoo_chkbx" value="1" checked>Yahoo</label>
                    </div>

                </form>
            </div>
            <div class="results" name="results" id="results">

            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            console.log('Hola');
            
            //buscar();
        });

        function buscar(){
                console.log('Hola desde Ajax')
                var query = $('#query').val();
                var cant_documentos = $('#cant_documentos').val();
                if ($('#google_chkbx').is(":checked"))
                {
                    var google_chkbx = 1;
                }else{
                    var google_chkbx = 0;
                }

                if ($('#yahoo_chkbx').is(":checked"))
                {
                    var yahoo_chkbx = 1;
                }else{
                    var yahoo_chkbx = 0;
                }

                var div_app = $('#results');
                div_app.empty()

                $.ajax({
                    url:"/search",
                    contentType: "application/json",
                    data:{query:query, cant_documentos:cant_documentos, 
                            google_chkbx:google_chkbx, yahoo_chkbx: yahoo_chkbx},
                    type:"get",
                    success: function(response) {
                        console.log('Hola desde Success Ajax');
                        console.log(response);
                        for (var i = 0; i < response.length; i++) {
                            // outputfromserver[i] can be used to get each value
                            div_app.append("<p>" + response[i] + "</p>")
                        }
                        // console.log(response['contract'][0]['description']);
                        
                        // $("#tabla").append("<h1>" + response['contract'][0]['description'] + "</h1>");
                    },
                    error: function(error){
                        console.log('Hola desde Error Ajax')
                        console.log(error);
                    }
                });
        };
        

        $("#search").submit(function(event) {
            event.preventDefault();
            console.log($("form").serialize())
            console.log('Cada que vamos');

            buscar();
        });

    </script>
    <style>
        
        .principal{
            display: block;
        }

        .labels{
            display: block;
        }

        .formulario{
            display: block;
        }

        .busqueda{
            display: inline;
        }

        .motores{
            display: inline;
        }

        .cant_documentos{
            display: inline;
        }

    </style>
</html>